# List

In [1]:
Std_name = ["Farhad","Usama","Assam"]
print(Std_name)

['Farhad', 'Usama', 'Assam']

In [2]:
print(Std_name[0])
print(Std_name[1])
print(Std_name[2])

Farhad
Usama
Assam

In [3]:
#append
Std_name.append("Mohsin Ahmed")
print("Updated Student Name list:",Std_name)

Updated Student Name list: ['Farhad', 'Usama', 'Assam', 'Mohsin Ahmed']

In [4]:
#extend
country_name = ["Pakistan","India","Afganistan"]
country_name1 = ["USA","England","Turkey"]
country_name.extend(country_name1)
print(country_name)

['Pakistan', 'India', 'Afganistan', 'USA', 'England', 'Turkey']

In [23]:
#insert
#Std_name.insert(3,"Fahama")
#print("Updated Student Name list:",Std_name)
#Std_nu = [62738,62588,98755,62855]
Std_nu.insert(3,62978)
print(Std_name)
print(Std_nu)

['Farhad', 'Usama', 'Assam', 'Fahama', 'Fahama', 'Fahama', 'Fahama', 'Fahama', 'Fahama', 'Fahama', 'Fahama', 'Fahama', 'Mohsin Ahmed']
[62738, 62588, 98755, 62978, 62978, 62855]

In [33]:
#remove
#fahama name has been added in multiple time. so, i remove it
Std_name.remove("Fahama")
print(Std_name)
#only single fahama name is exit
Std_nu.remove(62978)
print(Std_nu)

[62738, 62588, 98755, 62978, 62855]

In [39]:
#index
#print(Std_nu)
#print(Std_name)
x = Std_name.index("Assam")
y = Std_nu.index(98755)
print(x)
print(y)

2
2

In [42]:
#count
#print(Std_nu)
#print(Std_name)
x = Std_name.count("Usama")
y = Std_nu.count(62588)
print(x)
print(y)

1
1

In [51]:
#pop
animal = ["dog","cat","lion"]
#show = animal.pop(2)
show1 = animal.pop(-1)
#show2 = animal.pop(3)
print(show)
#show result
print(show1)
#show result
print(show2)
#show error message because 3 index is out of range

lion

In [53]:
#reserve
number = [1,2,3,4,5]
print(number)
number.reverse()
print(number)

[1, 2, 3, 4, 5]
[5, 4, 3, 2, 1]

In [57]:
#sort
alphabet = ["d","c","a","b"]
print("Un-sort order :",alphabet)
alphabet.sort()
print("Sort order :",alphabet)
alphabet.sort(reverse=True)
print("Reverse sort order:",alphabet)

Un-sort order : ['d', 'c', 'a', 'b']
Sort order : ['a', 'b', 'c', 'd']
Reverse sort order: ['d', 'c', 'b', 'a']

In [61]:
#copy
alphabet = ["d","c","a","b"]
x = alphabet.copy()
x.append("e")
print(alphabet)
print(x)

['d', 'c', 'a', 'b']
['d', 'c', 'a', 'b', 'e']

In [63]:
#any
message = "A message can be the content of a broadcast"
print(any(message))
message1 = "A message"
print(any(message1))
emptp_msg = ""
print(any(emptp_msg))

True
True
False

In [64]:
#all
number = [1,2,3,4]
print(any(number))
number1 = [1,2]
print(any(number1))
no_number = []
print(any(no_number))

True
True
False

In [66]:
#ascii
random_list =["Abdul Möiz", "Urööj","ösama"]
print(ascii(random_list))

['Abdul M\xf6iz', 'Ur\xf6\xf6j', '\xf6sama']

In [69]:
#bool
test1 = []
print("Test Value is",bool(test1))
test2 = [0]
print("Test Value is",bool(test2))
test3 = [1,2]
print("Test Value is",bool(test2))
test4 = ["Python is beautiful"]
print("Test Value is",bool(test4))

Test Value is False
Test Value is True
Test Value is True
Test Value is True

In [70]:
#enumerate
mobile_name = ["Sumsung","Nokia","Iphone","LG"]
x = enumerate(mobile_name)
print(type(x))
print(list(x))

<class 'enumerate'>
[(0, 'Sumsung'), (1, 'Nokia'), (2, 'Iphone'), (3, 'LG')]

In [78]:
#filter
random_list = [9, "b",0,"0",22]
x = filter(None,random_list)
print('The filtered elements are:')
for element in filteredList:
    print(element)

The filtered elements are:
9
b
0
22

In [83]:
#iter
number = [1,5,9,6]
x = iter(number)
print(x)
print(next(x))
print(next(x))
print(next(x))
print(next(x))
print(next(x))
#because all number has been show and their no new number to show.so, error message will be generated

<list_iterator object at 0x05B76050>
1
5
9
6

StopIteration:

In [87]:
#list
city = ("Karachi","Lahore","Multan")
print(list(city))
dictionarycity = {'Karachi':1,'Lahore':2,'Multan':3}
print(list(dictionarycity))

['Karachi', 'Lahore', 'Multan']
['Karachi', 'Lahore', 'Multan']

In [94]:
#len
number1 = []
print(number1, 'length is:', len(number1))
number2 = [1,2,3]
print(number2, "Length is:",len(number2))
word = ["a","malik"]
print(word, "Length is:",len(word))

[] length is: 0
[1, 2, 3] Length is: 3
['a', 'malik'] Length is: 2

In [97]:
#max
number = [1,55,9,6,7,88,16]
print('Maximum is:', max(number))

Maximum is: 88

In [98]:
#min
number = [999,55,3,87,345]
print('Minium is:', min(number))

Minium is: 3

In [104]:
#map
def calculateSquare(n):
    return n*n
numbers = (1, 2, 3, 4)
x = map(calculateSquare, numbers)
print(x)
result = set(x)
print(result)

<map object at 0x01587F30>
{16, 1, 4, 9}

In [109]:
#reversed
word = ["Karachi","Lahore"]
x = list(reversed(word))
print(x)
number = [5,6,7,8]
y = list(reversed(number))
print(y)

['Lahore', 'Karachi']
[8, 7, 6, 5]

In [115]:
#slice
language = 'csharp'
x = slice(3)
print(language[x])

csh

In [116]:
#sorted
bird_name = ["Parrot","Toucan ", "Blue Crow Parakeet"]
x = sorted(bird_name)
print(x)
number = [9,6,7,4]
y = sorted(number)
print(y)

['Blue Crow Parakeet', 'Parrot', 'Toucan ']
[4, 6, 7, 9]

In [120]:
#sum
import math
number = [2,9,1]
y = sum(number)
print("Sum of integer numbers is :",y)
number2 = [1.5,6.5]
z = math.fsum(number2)
print("Sum of decimal numbers is :",z)

Sum of integer numbers is : 12
Sum of decimal numbers is : 8.0

In [122]:
#zip
number = [5,9,10]
wordnumber = ["Five", "Nine", "Ten"]
x = zip(number,wordnumber)
print(x)
z = set(x)
print(z)

<zip object at 0x019829E0>
{(10, 'Ten'), (9, 'Nine'), (5, 'Five')}

In [125]:
#clear
l = [1,2,5,3]
print(l)
#after clear method apply on above list then list clear item succesfully
x = l.clear()
print(x)

[1, 2, 5, 3]
None